### Example user template template
### Example user template

# IntelliJ project files
#.idea
*.iml
bin/

gen### Actionscript template
# Build and Release Folders

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# Created by .ignore support plugin (hsz.mobi)
